{% extends 'base.html' %}

{% block title %}Lista Rezerwacji - HMS{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center">
            <h2><i class="bi bi-calendar-check"></i> Rezerwacje</h2>
            <a href="{% url 'employee:reservation_create' %}" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> Nowa Rezerwacja
            </a>
        </div>
        <hr>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th>ID</th>
                        <th>Gość</th>
                        <th>Pokój</th>
                        <th>Termin</th>
                        <th>Status</th>
                        <th>Płatność</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in reservations %}
                    <tr>
                        <td>#{{ res.id }}</td>
                        <td>
                            <div class="fw-bold">{{ res.guest.user.first_name }} {{ res.guest.user.last_name }}</div>
                            <small class="text-muted">{{ res.guest.phone_number }}</small>
                        </td>
                        <td><span class="badge bg-secondary">{{ res.room.number }}</span></td>
                        <td>
                            {{ res.check_in|date:"d.m" }} - {{ res.check_out|date:"d.m.Y" }}
                        </td>
                        <td>
                            {% if res.status == 'pending' %}<span class="badge bg-warning text-dark">Oczekująca</span>
                            {% elif res.status == 'confirmed' %}<span class="badge bg-primary">Potwierdzona</span>
                            {% elif res.status == 'checked_in' %}<span class="badge bg-success">Zameldowany</span>
                            {% elif res.status == 'cancelled' %}<span class="badge bg-danger">Anulowana</span>
                            {% else %}<span class="badge bg-secondary">{{ res.get_status_display }}</span>{% endif %}
                        </td>
                        <td>{{ res.get_payment_method_display }}</td>
                        <td>
                            <a href="{% url 'employee:reservation_detail' res.pk %}" class="btn btn-sm btn-outline-primary">Szczegóły</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="7" class="text-center p-4">Brak rezerwacji w systemie.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}